# Environment variables
.env

# Dependencies
node_modules/

# Old temporary directory
/tmp/

# Output files
output/
*.json
!data/maintainers.json
!package.json
gh-summary.md

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
